<mat-drawer-container class="h-screen">
  <mat-drawer #drawer *ngIf="isDrawerActive" mode="over" class="w-1/2">
    <!-- app-navlinks are getting used in 2 places with different instances -->
    <app-navlinks
      [usedInSidenav]="true"
      class="mt-10 flex flex-col"
    ></app-navlinks>
  </mat-drawer>

  <mat-drawer-content #sideNavContent class="overflow-x-hidden">
    <nav
      #nav
      class="h-16 navbar-height w-full fixed z-50 flex items-center bg-slate-200 shadow-md"
      [class]="
        !isDrawerActive ? 'justify-around' : 'pl-5 pr-10 justify-between'
      "
    >
      <ng-container *ngIf="isDrawerActive; else wholeNav">
        <button mat-icon-button (click)="drawer?.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a href="" class="text-2xl font-light"
          ><span class="text-3xl text-[#3f51b5] font-bold">A</span>bhirup</a
        >
      </ng-container>

      <ng-template #wholeNav>
        <a href="" class="text-2xl font-light"
          ><span class="text-3xl text-[#3f51b5] font-bold">A</span>bhirup</a
        >
        <!-- app-navlinks are getting used in 2 places with different instances -->
        <app-navlinks class="flex gap-2"></app-navlinks>
      </ng-template>
    </nav>

    <hr class="h-16 m-0 p-0 navbar-height invisible" />

    <section #section id="home" class="m-auto mb-10 w-11/12 md:w-4/6">
      <app-home-section
        [navContactLinkRef]="navContactLinkRef"
        [sectionMinHeight]="sectionMinHeight"
      ></app-home-section>
    </section>
    <section #section id="about" class="m-auto mb-10 w-11/12 md:w-4/6">
      <app-about-section
        [navResumeLinkRef]="navResumeLinkRef"
      ></app-about-section>
    </section>
    <section #section id="skill" class="m-auto mb-10 w-11/12 md:w-4/6">
      <app-skill-section></app-skill-section>
    </section>
    <section #section id="project" class="m-auto mb-10 w-11/12 md:w-4/6">
      <app-project-section></app-project-section>
    </section>
    <section #section id="git" class="m-auto mb-10 w-11/12 md:w-4/6">
      <app-git-section></app-git-section>
    </section>
    <section #section id="contact" class="m-auto w-11/12 md:w-4/6">
      <app-contact-section
        [sectionMinHeight]="sectionMinHeight"
      ></app-contact-section>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
