<div #contactContainer class="flex flex-col overflow-x-hidden">
  <h2 class="my-0 py-8 text-5xl font-light text-center">Contact</h2>

  <div class="mt-10 mb-20 flex-1 flex flex-col justify-center">
    <mat-card class="">
      <mat-card-content class="mx-10">
        <h1 class="my-9 py-0 text-3xl">Let's get in touch</h1>
        <p class="text-lg font-light">
          Feel free to contact me to know more about me.
        </p>

        <mat-divider class="my-5"></mat-divider>

        <div class="min-w-[425px] text-lg font-medium flex flex-col gap-5">
          <p class="mb-0 flex items-center">
            <mat-icon class="text-2xl">location_on</mat-icon
            >&nbsp;&nbsp;&nbsp;West Bengal, India
          </p>
          <a href="mailto:abhirupbakshi99@proton.me" class="flex items-center">
            <mat-icon class="text-2xl">email</mat-icon>
            &nbsp;&nbsp;&nbsp;abhirupbakshi99@proton.me
          </a>
          <a class="flex items-center" href="tel:+918420536423">
            <mat-icon class="text-2xl">call</mat-icon>&nbsp;&nbsp;&nbsp;+91
            8420536423
          </a>
        </div>

        <mat-divider class="my-5"></mat-divider>

        <p class="text-xl">Connect with Me :</p>
        <div class="flex gap-4">
          <a
            href="https://github.com/abhirupbakshi"
            target="_blank"
            mat-icon-button
          >
            <img src="assets/images/tools/github.svg" alt="" />
          </a>
          <a
            href="https://www.linkedin.com/in/abhirup-bakshi-39221a244/"
            target="_blank"
            mat-icon-button
          >
            <img src="assets/images/linkedIn.svg" alt="" />
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
